* {
    box-sizing: border-box;
    font-style: italic;
    font-family: fantasy;
}

/*color pallet*/
:root { 
    --purple: rgb(76, 45, 96);
    --yellow: rgb(215, 189, 130);
    --blue: rgb(12, 123, 137);
    --red: rgb(143, 47, 47);
    --white: white;
}

body {
    margin: 0;
    padding: 0;
    color: var(--blue);
    background-color:var(--yellow);
    line-height: 1.5;
}

header {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
}

header h1 {
    color: var(--white);
    background-color: var(--purple);
    padding: 5px;
    margin: 0;
    font-size: 4vw;
    line-height: 1;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a{
    text-decoratio: none;
    padding: 5px 10px;
    color: var(--white);
    margin-right: 10px;
    /*need to add image stuff!!!*/

}

nav a:hover {
}

main {
}

/*banner*/

.banner {
}

.banner div {
}

.banner h2 {
}

/*page*/

.page-info {
}

.page-section {
}

.page-section > h2{
}

.page-section > div {
}

.page-section > p {
}

/*contact*/

.contact address {
}

.contact  address a {
}

/* need to add flex*/



